<!doctype html>
<html lang="en">
<head>
  <base href="/workbench/noctua-landing-page/">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <title>Noctua</title>
  <script type="module" crossorigin src="/workbench/noctua-landing-page/assets/js/index-AJaBNiEW.js"></script>
  <link rel="modulepreload" crossorigin href="/workbench/noctua-landing-page/assets/js/redux-BccR61je.js">
  <link rel="modulepreload" crossorigin href="/workbench/noctua-landing-page/assets/js/react-router-CWLHqXF2.js">
  <link rel="modulepreload" crossorigin href="/workbench/noctua-landing-page/assets/js/mantine-CwmLMbyH.js">
  <link rel="stylesheet" crossorigin href="/workbench/noctua-landing-page/assets/css/mantine-D62IWC3F.css">
  <link rel="stylesheet" crossorigin href="/workbench/noctua-landing-page/assets/css/index-De6TDzxx.css">
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>
</html>