<div *ngIf="cam" fxLayout="column" fxLayoutAlign="start stretch" class="noc-cams noc-drawer h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
      Model Detail</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body w-100-p" noctuaPerfectScrollbar>
    <div *ngIf="!noctuaUserService.user" class="noc-draw-body-disabled" fxLayoutAlign="center center">
      Log in to Continue
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-cam-heading" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center"
        [@animateStagger]="{value:'50'}">
        <div *ngIf="cam.title" class="noc-title" fxLayout="row" fxLayoutAlign="start center">
          <div class="text-truncate pr-8">
            <strong>Title: </strong>{{cam.title }}
          </div>
          <div class="noc-icon-action" (click)="openCamForm()">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
          </div>
        </div>
        <div fxFlex></div>
        <button mat-icon-button class="" fxFlex="40px" color="primary" [matMenuTriggerFor]="activityOptionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #activityOptionMenu="matMenu" class="noc-dropdown-menu">
          <button mat-menu-item class="" (click)="viewAsModel(cam)">
            View Whole Model
          </button>
          <button mat-menu-item class="" (click)="viewAsActivities(cam)">
            Only Matched Activities
          </button>
          <button mat-menu-item class="" (click)="cam.expandAllActivities(true)">
            Expand All
          </button>
          <button mat-menu-item class="" (click)="cam.expandAllActivities(false)">
            Collapse All
          </button>
        </mat-menu>
      </div>
      <div class="" fxLayout="column" fxLayoutAlign="start start">
        <div *ngIf="cam.state" class="noc-model-state" fxLayout="row" fxLayoutAlign="start center">
          <mat-chip class="noc-table-chip noc-state-chip" [ngClass]="{'noc-development': cam.state.name === 'development',
      'noc-production': cam.state.name === 'production',
      'noc-review': cam.state.name === 'review'}" fxLayout="row" fxLayoutAlign="start center">
            <div class="noc-icon">
              <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
            </div>
            <div fxFlex="" class="noc-chip-label">
              {{cam.state.label}}
            </div>
            <div class="noc-icon-action" (click)="openCamForm()">
              <fa-icon [icon]="['fas', 'pen']"></fa-icon>
            </div>
          </mat-chip>
        </div>
        <div *ngIf="cam.date" class="noc-date" fxFlex="100px" fxLayout="row" fxLayoutAlign="start center">
          <mat-chip class="noc-table-chip noc-date-chip" fxLayout="row" fxLayoutAlign="start center"
            (click)="openCamForm()">
            <div class="noc-icon">
              <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
            </div>
            <div fxFlex="" class="noc-chip-label">
              {{cam.date}}
            </div>
          </mat-chip>
        </div>
        <div fxFlex="" fxLayout="row" fxLayoutAlign="start center">
          <mat-chip-list>
            <mat-chip class="noc-table-chip noc-user-chip" fxLayout="row" fxLayoutAlign="start center"
              *ngFor="let contributor of cam.contributors" (click)="openCamForm()">
              <div class="noc-icon">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>
              </div>
              <div fxFlex="" class="noc-chip-label">
                {{contributor.name}}
              </div>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <noc-cam-table [cam]="cam" [options]="tableOptions"></noc-cam-table>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
    <span fxFlex></span>
    <button (click)="close()" type="submit" class="noc-rounded-button" mat-raised-button color="">Close</button>
  </div>
</div>