@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  padding: 0px;
  width: 100%;
  background-color: #FFF;

  .noc-welcome {
    padding: 10px;
  }

  .header {
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #00174f, rgba(#00174f, 0.8), rgba(#00174f, 0.5)), url("~assets/images/gene.jpeg");
    background-blend-mode: initial;
    background-size: cover;
    background-position: top;
    padding-top: 50px !important;
    position: relative;
    flex: 1 0 auto;
    height: 280px;
    max-height: 280px;
    text-align: center;
    overflow: hidden;

    @include media-breakpoint('lt-md') {
      height: 200px;
    }

    h1 {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.01em;
      text-align: center;
      margin-top: 0;
      margin-bottom: 16px;
      color: rgba(white, 0.9);

      @include media-breakpoint('lt-md') {
        font-size: 24px;
      }
    }

    h3 {
      max-width: 80%;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.03em;
      margin: 0;
      color: #ffffff;
      line-height: 1.5;

      @include media-breakpoint('lt-md') {
        font-size: 14px;
      }
    }

    h4 {
      padding-top: 10px;
      max-width: 80%;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      margin: 0;
      color: rgba(#ffffff, 0.8);
    }
  }

  .noc-left-drawer {
    @include deep-height(100%);
    @include deep-width(300px);
    background-color: #FFF;
    border-right: #BBB solid 1px;
    @include mat-elevation(4);
  }

  .noc-right-drawer {
    @include deep-height(100%);
    background-color: #FFF;
    border-left: #BBB solid 1px;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-drawer-container {
    background-color: #E2E2E2;
  }

  .noc-create {
    padding: 8px;

    button {
      color: map-get($accent, default);
      width: 250px;
      font-weight: 500;
      @include mat-elevation(4);
    }
  }

  .noc-summary-filter-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(30px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);

    mat-chip-list {}

    mat-chip {
      margin-right: 8px;
      font-weight: normal;
      font-size: 10px;
      @include deep-height(25px);

      &.noc-filter-chip {
        font-size: 10px;
        @include noc-chip-color(#bbc9cc);

        .noc-filter-number {
          font-weight: bold;
          color: map-get($primary, default);
        }
      }

      &.noc-clearall-chip {
        @include noc-chip-color(#da7f7f);
        font-size: 10px;
      }
    }
  }

  .noc-table-container {
    min-height: 500px;
  }

  .noc-sidemenu {
    padding: 0;
    @include deep-height(100%);
    @include deep-width(60px);
    // @include mat-elevation(2);
    border-right: #999 solid 1px;

    button {
      @include deep-width(60px);
      @include deep-height(60px);

      font-size: 20px;
      color: rgba(map-get($primary, default), 0.5);

      &.noc-active {
        font-size: 28px;
        color: map-get($primary, default)
      }
    }
  }

}
