<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="noc-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button color="primary" class="noc-rounded-button"
      (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.search)" matTooltip="Search" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <mat-icon> search </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button"
      (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" matTooltip="Filter" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <mat-icon> filter_list </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(noctuaSearchService.leftPanel.group)" matTooltip="Search by group" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1000">
      <mat-icon> people_outline </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(noctuaSearchService.leftPanel.contributor)" matTooltip="Search by contributor"
      [matTooltipPosition]="'after'" [matTooltipShowDelay]="1000">
      <mat-icon>person_outline</mat-icon>
    </button>
    <!--    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(noctuaSearchService.leftPanel.species)" matTooltip="Search by species" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1000">
      <mat-icon> pets </mat-icon>
    </button> -->
  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>
    <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start">
      <div [ngSwitch]="noctuaSearchService.selectedLeftPanel?.id" class="h-100-p">
        <noc-review-search *ngSwitchCase="noctuaSearchService.leftPanel.search.id"></noc-review-search>
        <noc-review-filter *ngSwitchCase="noctuaSearchService.leftPanel.filter.id"></noc-review-filter>
        <noc-review-groups *ngSwitchCase="noctuaSearchService.leftPanel.group.id"></noc-review-groups>
        <noc-review-contributors *ngSwitchCase="noctuaSearchService.leftPanel.contributor.id"></noc-review-contributors>
        <noc-review-organisms *ngSwitchCase="noctuaSearchService.leftPanel.species.id"></noc-review-organisms>
      </div>
    </mat-drawer>
    <mat-drawer-content class="noc-section-body w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="noc-summary-bar" [ngClass]="{'noc-expanded': summary.expanded}" fxLayout="column"
        fxLayoutAlign="start stretch">
        <div class="noc-cams-table-header w-100-p" fxLayout="row" fxLayoutAlign="start center">
          <small class="mr-12">Filtered By: </small>
          <mat-chip-list>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.titles.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.titles)">
              <small>Title: </small> ({{ NoctuaSearchService.searchCriteria.titles.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.gps.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.gps)">
              <small>GPs: </small> ({{ NoctuaSearchService.searchCriteria.gps.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.goterms.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.goterms)">
              <small>GO Terms: </small> ({{ NoctuaSearchService.searchCriteria.goterms.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.contributors.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.contributors)">
              <small>Contributors: </small> ({{ NoctuaSearchService.searchCriteria.contributors.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.groups.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.groups)">
              <small>Groups: </small> ({{ NoctuaSearchService.searchCriteria.groups.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.organisms.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.organisms)">
              <small>Species: </small> ({{ NoctuaSearchService.searchCriteria.organisms.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.pmids.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.pmids)">
              <small>PMIDs: </small> ({{ NoctuaSearchService.searchCriteria.pmids.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="NoctuaSearchService.searchCriteria.states.length>0"
              (click)="toggleLeftDrawer(noctuaSearchService.leftPanel.filter)" [removable]="true"
              (removed)="NoctuaSearchService.removeFilterType(NoctuaSearchService.filterType.states)">
              <small>Model State: </small> ({{ NoctuaSearchService.searchCriteria.states.length}})
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <span fxFlex=""></span>
          <div class="" fxFlex="150px" fxLayout="row" fxLayoutAlign="end center">
            <button mat-icon-button (click)="refresh()" class="">
              <mat-icon class="">
                refresh
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="w-100-p" fxFlex noctuaPerfectScrollbar>
        <noc-cams-table></noc-cams-table>
      </div>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="noc-right-drawer" noctuaPerfectScrollbar mode="side" position="end">

    </mat-drawer>
  </mat-drawer-container>
</div>
