$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

.mat-autocomplete-panel {
  &.noc-term-autocomplete {
    @include deep-width(500px !important);

    .mat-option {
      padding: 8px !important;
      border-bottom: rgba(map-get($primary, default), 0.6) solid 1px;
      height: auto !important;
      line-height: 18px !important;
      white-space: normal !important;

      .noc-term-id {
        font-size: 10px;
        //margin-right: 
      }

      .noc-term-label {
        font-size: 12px;
        //margin-right: 
      }

    }
  }
}
