<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">
  <div class="noc-sidemenu" fxLayout="column" fxLayoutAlign="start center">
    <button mat-icon-button color="primary" class="noc-rounded-button"
      (click)="toggleLeftDrawer(reviewService.leftPanel.search)" matTooltip="Search" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1500">
      <mat-icon> search </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(reviewService.leftPanel.curator)" matTooltip="Search by curator" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1000">
      <mat-icon> group </mat-icon>
    </button>
    <button mat-icon-button color="primary" class="noc-rounded-button" (click)="
      toggleLeftDrawer(reviewService.leftPanel.species)" matTooltip="Search by species" [matTooltipPosition]="'after'"
      [matTooltipShowDelay]="1000">
      <mat-icon> pets </mat-icon>
    </button>
  </div>
  <mat-drawer-container class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start" autosize>
    <mat-drawer #leftDrawer class="noc-left-drawer" fxFlex="200px" mode="side" position="start">
      <div [ngSwitch]="reviewService.selectedLeftPanel.id" class="h-100-p">
        <noc-review-search *ngSwitchCase="reviewService.leftPanel.search.id"></noc-review-search>
        <noc-review-curators *ngSwitchCase="reviewService.leftPanel.curator.id"></noc-review-curators>
        <noc-review-species *ngSwitchCase="reviewService.leftPanel.species.id"></noc-review-species>
      </div>
    </mat-drawer>
    <mat-drawer-content class="noc-section-body w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start">
      <noc-cams-table></noc-cams-table>
    </mat-drawer-content>
    <mat-drawer #rightDrawer class="noc-right-drawer" noctuaPerfectScrollbar mode="side" position="end">

    </mat-drawer>
  </mat-drawer-container>
</div>
