<mat-toolbar class="" fxLayout="row" fxLayoutAlign="start center">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div class="noc-br h-100-p" fxLayout="row" fxLayoutAlign="start center" fxFlex="180px">
    <!--    <button mat-icon-button [matMenuTriggerFor]="changeView" class="">
      <mat-icon>apps</mat-icon>
    </button>

   <mat-menu #changeView="matMenu">
      <button class="noc-create-button" (click)="createModel()" mat-menu-item>
        Create New Model
      </button>
      <a *ngFor="let workbench of cam?.model?.modelInfo?.workbenches" href="{{workbench.url}}" target="_blank"
        mat-menu-item>
        {{workbench.label}}
      </a>
    </mat-menu> -->
    <div class="noc-logo" fxLayout="row" fxLayoutAlign="start">
      <a href="http://geneontology.org/" target="_blank">
        <img src="/assets/images/go-logo.large.png">
      </a>
    </div>
  </div>
  <div *ngIf="noctuaUserService.user" class="noc-create noc-br h-100-p" fxLayout="row" fxLayoutAlign="start center">
    <button mat-flat-button (click)="createModel()" color="primary"
      class="noc-rounded-button noc-half-button noc-sm noc-r">
      <mat-icon class=""> add </mat-icon> Create New Model
    </button>
    <button mat-flat-button fxFlex="35px" [matMenuTriggerFor]="createOptions" color="primary"
      class="noc-rounded-button noc-half-button noc-sm noc-l mr-8 p-0">
      <mat-icon class="">arrow_drop_down </mat-icon>
    </button>
    <mat-menu #createOptions="matMenu" xPosition="before">
      <a mat-menu-item (click)="createModel()">
        Noctua Form
      </a>
      <a mat-menu-item (click)="createModel()">
        Graph Editor
      </a>
    </mat-menu>
  </div>
  <a mat-button class="">
    About
  </a>
  <a mat-button class="">
    Help
  </a>
  <span fxFlex=""></span>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex="">
    <a mat-icon-button href="https://github.com/geneontology" target="blank">
      <mat-icon class="fa fa-github"></mat-icon>
    </a>
    <a mat-icon-button href="https://twitter.com/news4go" target="blank">
      <mat-icon class="fa fa-twitter"></mat-icon>
    </a>
    <a mat-icon-button href="https://www.facebook.com/pages/Gene-Ontology/305908656519" target="blank">
      <mat-icon class="fa fa-facebook"></mat-icon>
    </a>
    <button *ngIf="noctuaUserService.user" mat-button class="noc-name-button" [matMenuTriggerFor]="userMenu">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="noc-info" fxLayout="column" fxLayoutAlign="start start">
          <div class="noc-name text-truncate">
            {{noctuaUserService.user.name}}
          </div>
          <div class="noc-group-name text-truncate">
            {{noctuaUserService.user?.group?.label}}
          </div>
        </div>
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </button>
    <mat-menu #userMenu="matMenu" class="">
      <a mat-button href="{{logoutUrl}}" class="red-500-fg w-100-p">
        Logout
      </a>
    </mat-menu>
  </div>
  <div *ngIf="!noctuaUserService.user" fxLayout="row" fxLayoutAlign="end center" fxFlex="100px">
    <a mat-button href="{{loginUrl}}" class="green-300-bg w-100-p">
      Login
    </a>
  </div>
</mat-toolbar>
