@import "src/@noctua/scss/noctua";
@import "src/@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

$rotate-graph: 235deg;

:host {
  padding: 0px;
  width: 100%;
  background-color: #F7F7F7;

  .noc-summary-results-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 31px;
    margin-bottom: 4px;
    padding: 0 10px;
    @include deep-height(40px);
    //  min-height: 40px; //min-height: 35px;
    background-color: #FFF;
    font-size: 16px;
    overflow: hidden;
    z-index: 10;

    @include mat-elevation(2);

    .noc-pagesize-select {
      width: 50px;
    }

    mat-chip {
      font-size: 14px;
      font-weight: normal;
      @include deep-height(30px);
    }

  }

  .noc-search-table-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    @include deep-height(30px);
    border-bottom: $noc-primary-color-light solid 1px;

    .noc-header-cell {
      padding: 0 10px;
      font-size: 10px;
      color: map-get($primary, default);
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .noc-drawer-container {
    background-color: #DDD;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-loading-container {
    background-color: rgba(#555, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  mat-chip {
    font-size: 12px;
    font-weight: normal;
    @include deep-height(25px);
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .noc-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.noc-table-chip {
      padding: 0;
      @include deep-height(25px);
      font-size: 10px;

      .noc-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #888;
        font-size: 14px;

      }

      @include noc-chip-color(#CCC);

      &.noc-user-chip {
        @include noc-chip-color(#bbc9cc);

        .noc-icon {
          color: #59939e;

          &.noc-icon-initials {
            font-size: 10px;
            color: #000000;
          }

        }
      }

      &.noc-date-chip {
        @include noc-chip-color(#bbc9cc);
      }

      &.noc-state-chip {
        &.noc-development {
          @include noc-chip-color(#f4c89c);
        }

        &.noc-production {
          @include noc-chip-color(#b6f1cc);
        }

        &.noc-review {
          @include noc-chip-color(#d8f6a3);
        }
      }

    }
  }

  .noc-cams-table {
    background-color: #F7F7F7;
    font-size: 12px;
    width: 100%;
    @include deep-height(100%);
    padding-bottom: 300px;

    .noc-edit-button {
      background-color: #ffffff;
      color: map-get($primary, default);
      border: rgba(map-get($primary, default), 0.5) solid 1px;
      @include mat-elevation(1)
    }

    table {
      @include deep-width(100%);
    }

    tr.mat-row {
      height: auto;
    }

    .mat-header-cell {
      padding: 0 10px;
      font-size: 10px !important;
      //color: #0F0; // map-get($primary, default);
      font-weight: bold;
      color: map-get($primary, default);
      //text-transform: uppercase;
      font-weight: bold;
    }

    .mat-header-row {
      position: -webkit-sticky;
      position: sticky;
      top: 72px;
      background-color: #FFF;
      @include deep-height(30px);
      border-bottom: $noc-primary-color-light solid 1px;
      z-index: 10;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-buttons {
      flex: 0 1 80px;
    }

    .noc-title {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .noc-model-state {
      mat-chip {
        @include deep-height(25px);
        font-size: 10px;
      }
    }
  }

}
